<section class="container-fluid py-4">
  <div class="row">
    <div class="col-6 border-right">
      <div class="container-fluid">
        <div class="row">
          <div class=" offset-6 col-6">
            <select class="form-control" [(ngModel)]="currentYear" (change)="selectYear()">
              <option value="2021">
                2021
              </option>
              <option value="2020">
                2020
              </option>
              <option value="2019">
                2019
              </option>
              <option value="2018">
                2018
              </option>
              <option value="2017">
                2017
              </option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <apx-chart [series]="chartSeries" [dataLabels]="dataLabels" [chart]="chartOptions" [xaxis]="xAxis" [yaxis]="yAxis"
            [grid]="grid" [stroke]="strokeConfig" [title]="chartTitle" [labels]="labels">
          </apx-chart>
          </div>
        </div>
      </div>

    </div>


    <div class="col-6">
      <div class="container-fluid">
        <div class="row">
          <div class=" offset-6 col-6">
            <button class="btn btn-primary" (click)="prevYear()">Prev Year</button>
            <button class="btn btn-secondary">{{currentYear}}</button>
            <button class="btn btn-primary" (click)="nextYear()">Next Year</button>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <apx-chart [series]="chartSeries" [dataLabels]="dataLabels" [chart]="chartOptions" [xaxis]="xAxis" [yaxis]="yAxis"
                       [grid]="grid" [stroke]="strokeConfig" [title]="chartTitle" [labels]="labels">
            </apx-chart>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
